{% extends "base.html.twig" %}


{% block body%}
<div class="row">
 {% for article in articles|sort((b, a) => a.Releasedate <=> b.Releasedate) %}
 {% if article.id < 4 %}
 {% if article.Statut == "Publié" %}
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
             <h5 class="card-title">{{ article.Title }}</h5>
            <p class="card-text">{{ article.Content }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ article.Description }}</li>
                <li class="list-group-item">{{ article.Releasedate ? article.Releasedate|date('Y-m-d H:i:s') : '' }}</li>
                <li class="list-group-item">{{ article.Statut }}</li>
            <li class="list-group-item"><a class="btn btn-lg btn-primary" href="{{ path('app_public_profil', {'id': article.User.id})}}">{{ article.Author }}</a></li>
                <li class="list-group-item">    <a class="btn btn-lg btn-primary" href="{{ path('app_article_showpublic', {'id': article.id}) }}">
        Show
    </a></li>
            </ul>
        </div>
    </div>
    {% endif %}
    {% endif %}

        {% endfor %}
        </div>
{% endblock %}
